@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<form>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha de admin: </label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
  </div>
  <button type="submit" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Teste">Entrar</button>
</form>
