@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<form method="POST">
  <div class="form-group">
    <label for="exampleInputPassword1">Senha de admin: </label>
    <input type="password" name="senha" class="form-control" id="exampleInputPassword1" placeholder="Senha">
  </div>
  <input type="submit" />
@if (ViewData["SenhaInvalida"] != null && (bool)ViewData["SenhaInvalida"]){
  <br>
  <span style="color: red">Senha Inválida</span>
}
</form>
