@{
    ViewData["Title"] = "Privacy Policy";
}

<h3>
    <img src="covid.png" width="50" class="d-inline-block align-top" alt="">
    Monitoramento de Casos de COVID-19
</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">País</th>
      <th scope="col">Casos Confirmados</th>
      <th scope="col">Mortes</th>
      <th scope="col">Recuperados</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var pais in (List<Pais>)ViewData["Paises"])
      {
        <tr>
            <th scope="row">@pais.Nome</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      }
  </tbody>
</table>