@{
    ViewData["Title"] = "Sobre";
}

<style>
    .jumbotron{
        background-color: white;
    }
</style>

<div class="jumbotron">
  <h4 class="display-4">Sobre</h4>
  <hr class="my-4">
  <p class="lead"><b>Pontifícia Universidade Católica de Minas Gerais - Engenharia de Software</b></p>
  <p class="lead">Trabalho realizado para a disciplina de Laboratório de Desenvolvimento de Aplicações Móveis e Distribuídas</p>
  <p><strong>Professor:</strong></p>
  <ul>
      <li>
        <span>Hugo Bastos de Paula</span>
      </li>
  </ul>
  <p><strong>Integrantes:</strong></p>
  <ul>
      <li>
        <span>Caique Ribeiro de Oliveira</span>
      </li>
      <li>
        <span>Lucas Branco Laborne Tavares</span>
      </li>
  </ul>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Voltar para a home</a>
  </p>
</div>
